<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Routes</title>
</head>
<body ng-app="app">
<div class="container" ng-controller="RoutesController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Routes List
            <div class="btn-group pull-right">
                <a href="/addroute" class="btn btn-primary">Add Route</a>
                <a href="/tickets" class="btn btn-primary">Tickets</a>
            </div>
        </span></div>
            <div class="routes-container">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Seats Limit</th>
                        <th>SeatsLeft</th>
                    </tr>
                    <tr th:each = "route : ${routes}">
                        <td th:text="${route.routeId}"></td>
                        <td th:text="${route.name}"></td>
                        <td th:text="${route.routeDate}"></td>
                        <td th:text="${route.maxSeatsLimit}"></td>
                        <td th:text="${route.seatsLeft}"></td>
                        <td>
                            <a th:href="@{routes/{id}(id=${route.routeId})}" class="btn btn-success pull-right">Sell Ticket</a>
                        </td>
                        <td>
                            <a th:href="@{routes/{id}/tickets(id=${route.routeId})}" class="btn btn-success pull-right">Tickets</a>
                        </td>
                        <td>
                            <a th:href="@{/deleteroute/{id}(id=${route.routeId})}" class="btn btn-danger pull-left"
                               onclick="return confirm('Are you sure?');">Delete</a>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

<script src="js/angular.min.js"></script>
</body>
</html>